html, body{height:100%; width:100%;}
body{margin:0; padding:0; background:url(../img/bg.png) 50% 0 repeat #f5f0ea; color:#303030; font:12px/1.2 'Open Sans', Verdana, Geneva, sans-serif;}

a{outline:none; cursor:pointer; text-decoration:none; color:#fea431;}
a:hover{text-decoration:underline;}

a img{border:none;}

:focus{outline:none;}

h1, h2, h3, h4, p, form, table, tr, td, th, ul, li{margin:0; padding:0; font-weight:normal;}

table, tr, td{border:0; border-collapse:collapse; vertical-align:top; text-align:left;}
.brd_center_table tr, .brd_center_table td{border:1px solid #777; text-align:center; padding:5px;}

.input-text, textarea, select{font:Verdana, Geneva, sans-serif; 
                              -moz-box-sizing:border-box; 
                              -webkit-box-sizing:border-box; 
                              box-sizing:border-box; 
}

::-webkit-input-placeholder{color:#999; font-style:normal;}
:-moz-placeholder{color:#999 !important; font-style:normal;}
::-moz-placeholder{color:#999 !important; font-style:normal;}
:-ms-input-placeholder{color:#999; font-style:normal;}

ul{list-style:none;}


/* Main
******************************/
.hide {display: none;}
.float-l{float:left;}
.float-r{float:right;}
.row{overflow:hidden;}
.clear{clear:both; font-size:0 !important;}
.clearfix:after{content:''; clear:both; display:block;}
.nopad{padding:0 !important;}
.nomrgn{margin:0 !important;}

.pre{white-space:pre;}
.nowrap{white-space:nowrap;}
.bold{font-weight:bold;}
.dotted{border-bottom:1px dotted; text-decoration:none;}
a.dotted:hover, a:hover .dotted, .login-btn:hover > .dotted{text-decoration:none; border-bottom-color:transparent;}

.text-left{text-align:left;}
.text-right{text-align:right;}
.text-center{text-align:center;}
.half{width:50%; 
      -moz-box-sizing:border-box; 
      -webkit-box-sizing:border-box; 
      box-sizing:border-box; 
}

.black{color:#000;}
.white{color:#FFF;}
.red{color:#c1272d;}
.green{color:#7faf42;}
.blue{color:#069;}
.gray{color:#9e9e9e;}

.font_10{font-size:10px !important;}
.font_11{font-size:11px !important;}
.font_13{font-size:13px !important;}
.font_14{font-size:14px !important;}
.font_15{font-size:15px !important;}
.font_16{font-size:16px !important;}
.font_18{font-size:18px !important;}
.font_20{font-size:20px !important;}
.font_22{font-size:22px !important;}
.font_24{font-size:24px !important;}
.font_25{font-size:25px !important;}

.pad_0_top{padding-top:0 !important;}
.pad_0_bot{padding-bottom:0 !important;}
.pad_5_right{padding-right:5px !important;}
.pad_5_left{padding-left:5px !important;}
.pad_5_top{padding-top:5px !important;}
.pad_5_bot{padding-bottom:5px !important;}
.pad_5_tb{padding-top:5px !important; padding-bottom:5px !important;}
.pad_10_right{padding-right:10px !important;}
.pad_10_left{padding-left:10px !important;}
.pad_10_top{padding-top:10px !important;}
.pad_10_bot{padding-bottom:10px !important;}
.pad_10_tb{padding-top:10px !important; padding-bottom:10px !important;}
.pad_15_right{padding-right:15px !important;}
.pad_15_left{padding-left:15px !important;}
.pad_15_top{padding-top:15px !important;}
.pad_15_bot{padding-bottom:15px !important;}
.pad_15_tb{padding-top:15px !important; padding-bottom:15px !important;}
.pad_20_top{padding-top:20px !important;}
.mrg_10_bot{margin-bottom:10px !important;}
.mrg_10_top{margin-top:10px !important;}
.mrg_15_right{margin-right:15px !important;}

.sprite, .icon, .btn-play, .btn-play-smal, .learning .task-item-name:after, .btn-next:after, .login-form:before, .help-box-arr, .radio-box, .check-box{background-image:url(../img/sprite.png); background-repeat:no-repeat; overflow:hidden; display:block;}

.icon{display:inline-block; position:relative; vertical-align:baseline;}

.ico-keyb{width:26px; height:19px; background-position:0 -150px;}
.open .ico-keyb{background-position:0 -175px;}
.ico-keys{width:15px; height:17px; background-position:-200px 0; position:relative; vertical-align:top; top:4px; margin-right:2px;}
.ico-close{width:12px; height:12px; background-position:-375px 0; position:absolute; right:10px; top:10px; cursor:pointer;}
.ico-close:hover{background-position:-375px -25px;}
.ico-peach{width:26px; height:35px; background-position:-400px 0; top:2px; margin-left:3px;}
.ico-cash{width:62px; height:38px; background-position:-325px -100px; top:-1px; margin-left:3px; margin-right:-8px;}
.ico-peach-val{width:32px; height:40px; background-position:-400px -50px; position:absolute; top:-5px;}
.ico-peach-rec{width:62px; height:73px; background-position:-400px -100px; margin-left:3px;}

.icon_flag{border:1px solid #F7F7F7; width:25px; height:25px; background-image:url(/img/flagi.png); background-repeat:no-repeat; overflow:hidden; display:inline-block;position:relative; vertical-align:baseline;}
.ico_rus{background-position:-5px -75px;}
.ico_eng{background-position:-40px -5px;}
.ico_fra{background-position:-40px -40px;}
.ico_esp{background-position:-110px -40px;}
.ico_chn{background-position:-145px -5px;}
.ico_tur{background-position:-145px -40px;}
.ico_ara{background-position:-110px -5px;}
.ico_vnm{background-position:-5px -5px;}
.ico_idn{background-position:-75px -40px;}
.ico_alb{background-position:-75px -5px;}
.ico_deu{background-position:-5px -40px;}
.icon_flag.active{border:2px solid #FEA431; border-radius:15px;}

.lang_switch{margin-left:-35px; margin-top:-25px; margin-bottom:15px;}
.lang_switch li{display:inline;}
.lang_switch li:nth-child(5n) a{margin-right:0;}
.lang_switch a{margin:1px 4px;}

.btn-style{background-color:#fdb732; border:1px solid #fe9712; border-radius:8px; color:#fff; font-size:16px; line-height:36px; text-align:center; text-decoration:none; height:40px; padding:0 10px; display:inline-block; position:relative; box-shadow:inset 0 -1px 2px RGBA(255,255,256,.2), 0 1px 1px RGBA(0,0,0,.2); text-decoration:none; 
           -moz-box-sizing:border-box;
           -webkit-box-sizing:border-box;
           box-sizing:border-box;

           background:-webkit-gradient(linear, 0 100%, 0 0, from(#fcc43f), to(#fea923));
           background:-webkit-linear-gradient(#fcc43f 0%, #fea923 100%);
           background:-moz-linear-gradient(#fcc43f 0%, #fea923 100%);
           background:-o-linear-gradient(#fcc43f 0%, #fea923 100%);
           background:linear-gradient(#fcc43f 0%, #fea923 100%); 

           -moz-user-select:none;
           -o-user-select:none;
           -webkit-user-select:none;
           user-select:none;
}
.btn-style:hover, .btn-style.current{background-color:#ffbe23; text-decoration:none;
                                     background:-webkit-gradient(linear, 0 100%, 0 0, from(#fe931a), to(#ffae1a));
                                     background:-webkit-linear-gradient(#fe931a 0%, #ffae1a 100%);
                                     background:-moz-linear-gradient(#fe931a 0%, #ffae1a 100%);
                                     background:-o-linear-gradient(#fe931a 0%, #ffae1a 100%);
                                     background:linear-gradient(#fe931a 0%, #ffae1a 100%);
}

.btn-fb{background-color:#325290; border:1px solid #193976;
        background:-webkit-gradient(linear, 0 100%, 0 0, from(#3b5b99), to(#325290));
        background:-webkit-linear-gradient(#3b5b99 0%, #325290 100%);
        background:-moz-linear-gradient(#3b5b99 0%, #325290 100%);
        background:-o-linear-gradient(#3b5b99 0%, #325290 100%);
        background:linear-gradient(#3b5b99 0%, #325290 100%);
}
.btn-fb:hover{background:#2e4e8b;}
.btn-fb .icon{width:12px; height:25px; background-position:-300px 0; float:left; position:relative; top:6px;}

.btn-tw{background-color:#279ccd; border:1px solid #0081b7;
        background:-webkit-gradient(linear, 0 100%, 0 0, from(#28aae1), to(#279ccd));
        background:-webkit-linear-gradient(#28aae1 0%, #279ccd 100%);
        background:-moz-linear-gradient(#28aae1 0%, #279ccd 100%);
        background:-o-linear-gradient(#28aae1 0%, #279ccd 100%);
        background:linear-gradient(#28aae1 0%, #279ccd 100%);
}
.btn-tw:hover{background:#1d96ca;}
.btn-tw .icon{width:25px; height:20px; background-position:-250px 0; float:left; position:relative; top:10px;}

.btn-next{display:inline-block; position:relative; height:35px; font-size:16px; line-height:32px; color:#FFF; text-decoration:none; padding:0 10px 0 20px; border:1px solid #649a20; border-right:0; border-radius:8px 0 0 8px; box-shadow:inset 0 -1px 1px RGBA(255,255,256,.15), 0 1px 1px RGBA(0,0,0,.2); margin-right:18px; background:#72a532;
          background:-webkit-gradient(linear, 0 100%, 0 0, from(#7faf42), to(#649a20));
          background:-webkit-linear-gradient(#7faf42 0%, #649a20 100%);
          background:-moz-linear-gradient(#7faf42 0%, #649a20 100%);
          background:-o-linear-gradient(#7faf42 0%, #649a20 100%);
          background:linear-gradient(#7faf42 0%, #649a20 100%);

          -moz-box-sizing:border-box;
          -webkit-box-sizing:border-box;
          box-sizing:border-box;

          -moz-user-select:none;
          -o-user-select:none;
          -webkit-user-select:none;
          user-select:none;
}
.btn-next:hover{background-color:#679d2e; text-decoration:none;
                background:-webkit-gradient(linear, 0 100%, 0 0, from(#72a73a), to(#5b911e));
                background:-webkit-linear-gradient(#72a73a 0%, #5b911e 100%);
                background:-moz-linear-gradient(#72a73a 0%, #5b911e 100%);
                background:-o-linear-gradient(#72a73a 0%, #5b911e 100%);
                background:linear-gradient(#72a73a 0%, #5b911e 100%); 
}
.btn-next:after{content:''; width:18px; height:35px; position:absolute; right:-17px; top:-1px; background-position:-75px 0;}
.btn-next:hover:after{background-position:-75px -50px;}

.btn-style.disabled, .btn_next.disabled{background:#dbdbdb !important; border-color:#c2c2c2 !important; color:#363636 !important; cursor:default !important;}
.btn-next.disabled:after{background-position:-75px -100px !important;}

.btn-style.btn-def, .btn-style.btn-def{background-color:#f9f2ec; border-color:#dfdad6; color:#5d5d5d;
                                       background:-webkit-gradient(linear, 0 100%, 0 0, from(#f6f6f6), to(#f0f0f0));
                                       background:-webkit-linear-gradient(#f6f6f6 0%, #f0f0f0 100%);
                                       background:-moz-linear-gradient(#f6f6f6 0%, #f0f0f0 100%);
                                       background:-o-linear-gradient(#f6f6f6 0%, #f0f0f0 100%);
                                       background:linear-gradient(#f6f6f6 0%, #f0f0f0 100%);
}
.btn-style.btn-def:hover{background-color:#e7e7e7;
                         background:-webkit-gradient(linear, 0 100%, 0 0, from(#e9e9e9), to(#e4e4e4));
                         background:-webkit-linear-gradient(#e9e9e9 0%, #e4e4e4 100%);
                         background:-moz-linear-gradient(#e9e9e9 0%, #e4e4e4 100%);
                         background:-o-linear-gradient(#e9e9e9 0%, #e4e4e4 100%);
                         background:linear-gradient(#e9e9e9 0%, #e4e4e4 100%);
}
.btn-style.btn-def-sml.current{background:#e0cab9; cursor:default;}

.btn-style.btn-sml{font-size:16px; line-height:31px; height:35px; padding:0 10px;}

.btn-style.btn-custom-bnr{width:80px; height:80px; font-size:12px; line-height:78px; font-weight:bold;}

.btn-style.disabled, .btn-next.disabled{background:#dbdbdb !important; border-color:#c2c2c2 !important; color:#363636 !important; cursor:default !important;}
.btn-next.disabled:after{background-position:-75px -100px !important;}

.btn-play{display:inline-block; width:35px; height:47px; background-position:-25px 0; position:relative;}
.btn-play:hover{background-position:-25px -50px;}
.btn-play.active, .btn-play.active:hover{background-position:-25px -100px;}
.btn-play > span{display:block; position:absolute; bottom:0; right:-1px; height:14px; width:14px; background-color:#FFF; border-radius:50%; font-size:14px; line-height:12px; text-align:center; color:#000;}

.btn-play-smal{width:12px; height:16px; background-position:-100px 0; display:inline-block; vertical-align:top; position:relative;}
.btn-play-smal:hover{background-position:-100px -25px;}
.btn-play-smal.active{background-position:-100px -50px;}

.rem-btn{position:absolute; top:0; right:0; width:18px; height:18px; overflow:hidden; background-color:#dedede; border:1px solid #adadad; border-radius:3px; color:#f00; font-size:14px; line-height:16px; text-align:center; text-transform:uppercase; cursor:pointer; z-index:3;
         background:-webkit-gradient(linear, 0 0, 0 100%, from(#fdfdfd), to(#c1c1c1));
         background:-webkit-linear-gradient(#fdfdfd 0%, #c1c1c1 100%);
         background:-moz-linear-gradient(#fdfdfd 0%, #c1c1c1 100%);
         background:-o-linear-gradient(#fdfdfd 0%, #c1c1c1 100%);
         background:linear-gradient(#fdfdfd 0%, #c1c1c1 100%);
}

.input-text{padding:0 10px; background:#FFF; border:1px solid #dadada; box-shadow:inset 4px 4px 3px RGBA(0,0,0,.05); border-radius:8px; height:40px; font-size:16px; line-height:20px;}
textarea{padding:5px 10px; background:#FFF; border:1px solid #dadada; box-shadow:inset 4px 4px 6px RGBA(0,0,0,.05); border-radius:8px; width:100%; resize:none;}

.error .input-text, .error textarea{border-color:#ff7b7b;}
.error .input-text{box-shadow:inset 4px 4px 3px RGBA(0,0,0,.05), 0 0 3px rgba(255,0,0,.75);}
.error textarea{box-shadow:inset 4px 4px 6px RGBA(0,0,0,.05), 0 0 3px rgba(255,0,0,.75);}

.input-msg-wrap{position:absolute; top:0; width:100%; height:0;}
.input-msg{display:none; position:absolute; left:50%; bottom:10px; width:220px; margin-left:-118px; padding:5px 7px; background-color:#f9f9f9; border:1px solid #dbdbdb; border-radius:8px; font-size:11px; text-align:center;}
.input-msg:after{content:''; display:block; position:absolute; top:100%; left:50%; margin-left:-4px; border-left:4px solid rgba(255,255,255,0); border-right:4px solid rgba(255,255,255,0); border-top:7px solid #f9f9f9; z-index:2;}
.input-msg:before{content:''; display:block; position:absolute; top:100%; left:50%; margin-left:-5px; border-left:5px solid rgba(255,255,255,0); border-right:5px solid rgba(255,255,255,0); border-top:9px solid #dbdbdb; z-index:1;}

.error .input-msg{display:block; background-color:#ffa0a0; border-color:#ff7b7b; color:#fff;}
.error .input-msg:after{border-top-color:#ffa0a0;}
.error .input-msg:before{border-top-color:#ff7b7b;}
.err-msg {color: #B94A48;margin: -5px 5px 5px;}

/*.file-input{}*/
.file-input .input-box{float:left; width:234px;}
.file-input .button-box{width:auto;}
.file-input .input-box + .button-box{margin-left:25px;}
.file-input .btn-style{min-width:136px; overflow:hidden;}
.file-input .upload-field{height:200px; position:absolute; top:0; right:0; opacity:0; cursor: pointer; font-size:200px;}


/*.ch-box-line{overflow:hidden;}
        .ch-box-line input[type="checkbox"]{width:14px; height:14px;}
        .ch-box-line .ch-box, .ch-box-line .radio-box{width:12px; height:12px; overflow:hidden; display:inline-block; vertical-align:top;}
        .ch-box-line .ch-box input[type="checkbox"], .ch-box-line .radio-box input[type="radio"]{display:none;}
        .ch-box-line .radio-box{background-position:-450px -75px; position:relative; top:2px;}
        .ch-box-line .radio-box.checked{background-position:-450px -100px;}
        .ch-box-line .ch-box-label{padding-left:13px; display:inline-block; padding-top:1px;}
        .ch-box-line .ch-box-label label{position:relative; margin:0; padding:0; cursor:pointer;}*/

.ch-box-area{display:block; line-height:20px;}
.ch-box-inline{display:inline-block;}
.ch-box-area input{display:none;}
.ch-box-area .radio-box{position:relative; width:15px; height:15px; top:3px; display:inline-block; vertical-align:top; background-position:-200px -50px;}
.ch-box-area .check-box{cursor: pointer;position:relative; width:20px; height:22px; top:-2px; display:inline-block; vertical-align:top; background-position:-200px -100px;}
.ch-box-area .radio-box.checked{background-position:-200px -25px;}
.ch-box-area .check-box.checked{background-position:-200px -75px;}
.ch-box-area label{padding-left:4px; display:inline-block; padding-top:1px; cursor:pointer;}

/**/
.main{min-height:100%; position:relative;}
.wrapper{min-width:1000px; max-width:1050px; margin:0 auto;}

.main-page{background:url(../img/main_bg.png) 50% 0 no-repeat;}


/* Keyboard 
******************************/
.kb_block{position:fixed; top:20%; z-index:10;}
.kb_block .toggle{width:42px; height:34px; position:absolute; overflow:hidden; z-index:1; top:10px; left:0; background-color:#fdb832; border-bottom:1px solid #a6a6a6; border-radius:0 8px 8px 0; box-shadow:inset 0 -1px 1px RGBA(255,255,255,.3);
                  background:-webkit-gradient(linear, 0 100%, 0 0, from(#fcc43f), to(#fdb12b));
                  background:-webkit-linear-gradient(#fcc43f 0%, #fdb12b 100%);
                  background:-moz-linear-gradient(#fcc43f 0%, #fdb12b 100%);
                  background:-o-linear-gradient(#fcc43f 0%, #fdb12b 100%);
                  background:linear-gradient(#fcc43f 0%, #fdb12b 100%);

                  -moz-box-sizing:border-box;
                  -webkit-box-sizing:border-box;
                  box-sizing:border-box;
}
.kb_block .toggle span{margin:7px 5px 7px 7px; cursor:pointer;}
.kb_block.open .toggle{border:none; background:none; box-shadow:none; border-radius:0;}

.kb_block .content-block{display:none; margin:20px 33px 10px 63px;}
.kb_block.open{box-shadow:3px 3px 5px #777; background-color:#FFF; z-index:10;}
.kb_block.open .content-block{display:block;}
.content-block textarea{height:80px; margin-bottom:10px;}


/* Header
******************************/
.header{padding:15px 10px 0px 5px; height:61px; position:relative; background-color:#fdb832; border-bottom:1px solid #a6a6a6; border-radius:0 0 8px 8px; box-shadow:inset 0 -1px 1px RGBA(255,255,255,.3); color:#FFF; z-index:2;
        background:-webkit-gradient(linear, 0 100%, 0 0, from(#fcc43f), to(#fdb12b));
        background:-webkit-linear-gradient(#fcc43f 0%, #fdb12b 100%);
        background:-moz-linear-gradient(#fcc43f 0%, #fdb12b 100%);
        background:-o-linear-gradient(#fcc43f 0%, #fdb12b 100%);
        background:linear-gradient(#fcc43f 0%, #fdb12b 100%);

        -moz-box-sizing:border-box;
        -webkit-box-sizing:border-box;
        box-sizing:border-box;
}

.logo-area{float:left; margin:-15px 10px 0 0; padding-top:15px; height:45px;}
.main-page .logo-area{background:url(../img/logo_area_main_p.png) 0 0 no-repeat; width:162px; height:63px; position:absolute; left:50%; bottom:-60px; margin:0 0 0 -81px; padding-top:0; float:none; text-align:center;}

.logo{background:url(../img/logo.png) 0 -94px; width:65px; height:56px; overflow:hidden; display:inline-block; vertical-align:top; position:relative; top:-13px;}
.main-page .logo{background-position:0 0; width:132px; height:94px; top:-50px; margin-left:17px;}

.header-text, .header-text:hover{font-size:28px; line-height:30px; position:relative; color:#FFF; text-decoration:none;}
.logo + .header-text{padding-left:2px; top:-2px;}
.main-page .header-text{top:-4px; overflow:hidden;}

.user-box{float:right; position:relative;}

.header .login-btn{font-size:16px; cursor:pointer; position:relative; top:1px;}
.header .login-btn > span{border-bottom-width:2px;}

.login-form{position:absolute; background-color:#FFF; box-shadow:0 0 5px RGBA(0,0,0,.4); border-radius:8px; width:316px; padding:10px; z-index:15; right:-45px; margin-top:40px; display:none;}
.login-form:before{content:''; position:absolute; width:21px; height:14px; background-position:-350px 0; right:59px; top:-14px;}
.login-form .form-row{margin-bottom:10px;}
.login-form .social-login{padding-top:10px;}
.login-form .input-text{width:100%;}
.login-form .forgot_pass{float:right; position:relative; font-size:14px; line-height:1; top:12px;}
.login-form .btn-style{width:192px;}
.login-form .btn-fb, .login-form .btn-tw{width:145px;}
.login-form .btn-fb{float:right;}
.login-form.error input{color:#B94A48; border-color:#B94A48; box-shadow:0 1px 1px #B94A48;}
.error-txt{display:none; color:#B94A48;}
.login-form.error .error-txt{display:block;}
.logout-form{position: relative;}      
.logout-form a{color:#FFF;}
.logout-form .hc-details{left:-60px; top:18px; text-align:center !important;}

.info-bar p{font-size:18px;}
.info-bar a{color:#FEA431;}

.nav{float:left; height:60px; padding-bottom:1px; margin:-15px 0 0; padding:0 5px; /*overflow:hidden; */ position:relative;}
.nav:before{content:''; position:absolute; height:100%; width:1px; background-color:#fd9029; background-color:RGBA(255,0,0,.22); left:5px; z-index:1;}
.nav:after{content:''; position:absolute; height:100%; width:1px; background-color:#fec865; background-color:RGBA(255,255,255,.25); right:5px; z-index:1;}

.nav li{display:inline-block; height:100%; vertical-align:top; position:relative;}
.nav a{width:110px; text-align:center; display:inline-block; height:100%; padding-bottom:0; line-height:60px; font-size:22px; color:#FFF; padding:0 10px; border-left:1px solid #fec865; border-left:1px solid RGBA(255,255,255,.25); border-right:1px solid #fd9029; border-right:1px solid RGBA(255,0,0,.22);
       background:-webkit-gradient(linear, 0 100%, 0 0, from(#fcb039), to(#fe971f)); 
       background:-webkit-linear-gradient(#fcb039 0%, #fe971f 100%);
       background:-moz-linear-gradient(#fcb039 0%, #fe971f 100%);
       background:-o-linear-gradient(#fcb039 0%, #fe971f 100%);
       background:linear-gradient(#fcb039 0%, #fe971f 100%);
}

.nav a:hover, .nav li:hover > a{text-decoration:none; border-bottom-color:#FFF;
                                background:-webkit-gradient(linear, 0 100%, 0 0, from(#fca736), to(#fe8f1d));
                                background:-webkit-linear-gradient(#fca736 0%, #fe8f1d 100%);
                                background:-moz-linear-gradient(#fca736 0%, #fe8f1d 100%);
                                background:-o-linear-gradient(#fca736 0%, #fe8f1d 100%);
                                background:linear-gradient(#fca736 0%, #fe8f1d 100%);

                                -moz-transition:background .15s;
                                -o-transition:background .15s;
                                -webkit-transition:background .15s;
                                transition:background .15s;
}

.nav .current, .nav .current:hover{border:1px solid #447a00; border-top:0 none; box-shadow:0 0 4px RGBA(0,0,0,.45), inset 0 -1px 2px RGBA(255,255,255,.1); position:relative; z-index:10;
                                   background:-webkit-gradient(linear, 0 100%, 0 0, from(#75a932), to(#609221));
                                   background:-webkit-linear-gradient(#75a932 0%, #609221 100%);
                                   background:-moz-linear-gradient(#75a932 0%, #609221 100%);
                                   background:-o-linear-gradient(#75a932 0%, #609221 100%);
                                   background:linear-gradient(#75a932 0%, #609221 100%);
}
.nav ul{display:none; position:absolute; left:0; top:100%; width:100%; border:1px solid; border-color:#a48029 transparent #a6a6a6 #fe921a; border-right:0; 
        -moz-box-sizing:border-box;
        -webkit-box-sizing:border-box;
        box-sizing:border-box;
}
.nav li:hover ul{display:block;}
.nav ul li{display:block;}
.nav ul a{display:block; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; background:#fcbf3a; border-left:0 none; text-align:center; line-height:42px;}
.nav ul li + li > a{border-top:1px solid #fe921a;}

@media only screen and (-Webkit-min-device-pixel-ratio:1.5),
only screen and (-moz-min-device-pixel-ratio:1.5),
only screen and (-o-min-device-pixel-ratio:3/2),
only screen and (min-device-pixel-ratio:1.5){
    .logo{background:url(../img/logo_x2.png) 0 0 no-repeat; background-size:150px 150px;}
}


/* Content
******************************/
.content{margin:0 10px; padding-bottom:149px; background-color:#FFF; box-shadow:0 0 10px RGBA(0,0,0,.15); z-index:1;}
.main-page .content{padding:88px 40px 159px;}

h1, .h1, h2, .h2, h3, .h3, h1 > a, h2 > a, h3 > a, .h1 > a, .h2 > a, .h3 > a{color:#fea923; text-shadow:0 1px 1px #fe6e12; font-weight:600; text-decoration:none;}

h1, .h1{font-size:36px;}
h2, .h2{font-size:32px;}
h3, .h3{font-size:26px;}

.content-tbl{width:100%;}

.aside-left{background:url(../img/aside_left_bg.png) 100% 0 repeat-y #f7f7f7; width:192px; height:400px;}
.aside-left-wrap{padding:40px 0 40px 40px;}

.left-menu{overflow:hidden; margin-left:-10px; padding-left:10px;}
.left-menu a{display:block; font-size:17px !important; line-height:36px; padding-left:18px;}
.left-menu a:hover{color:#7faf42; text-decoration:none;}

.left-menu .current, .left-menu .current:hover{background-color:#FFF; box-shadow:0 0 6px RGBA(0,0,0,.11); border-radius:8px 0 0 8px; cursor:default; color:#FEA431;}

.left-menu.letters a{text-transform:uppercase;}

.courses{margin:0 0 0 -40px; padding:0;}
.courses .active, .courses .active:hover{background-color:#FFF; box-shadow:0 0 6px RGBA(0,0,0,.11); border-radius:0; cursor:default; color:#FEA431;}

.courses .current, .courses .current:hover, .courses ul .current, .courses ul .current:hover, .courses ul .active, .courses ul .active:hover{box-shadow:none; border-radius:0;}

.courses .current{border-radius:0;}
.courses ul{display:none; margin-left:10px; margin-right:5px;}
.courses .active ul{display:block;}
.courses > li > a{padding-left:10px; padding-right:5px;}

.courses ul a {padding-left:0; font-size:15px !important; line-height:normal; color:#858585;}
.courses ul .active a {color:#444;}
.courses ul .active a:hover {color:#7faf42;}
.courses ul .current{color:#7faf42 !important;}
.courses .current:hover{box-shadow:none; border-radius:0;}

.podcasts{margin-left:-55px;}
.podcasts a{font-size:14px !important; line-height:normal !important; text-transform:none!important;}

.content-wrap{padding:40px 40px 40px 30px;}

.breadcrumbs{font-size:12px; margin:-20px 0 15px; color:#8c8c8c;}

.socials-login{float:right; width:290px; margin-left:60px;}

.fast-login-form{margin-top:25px;}
.fast-login-form .social-login{margin-bottom:10px;}
.fast-login-form .form-row{margin-bottom:10px;}
.fast-login-form .spacer{text-align:center; position:relative;}
.fast-login-form .spacer:before{content:''; display:block; width:100%; height:1px; overflow:hidden; background-color:#dadada; position:absolute; top:10px; z-index:0;}
.fast-login-form .spacer span{display:inline-block; background-color:#FFF; padding:0 10px; font-size:16px; line-height:1; position:relative; z-index:1;}
.fast-login-form .input-text{width:100%;}
.fast-login-form .btn-style{width:100%;}
.fast-login-form .btn-fb, .fast-login-form .btn-tw{width:135px;}
.fast-login-form .btn-fb{float:right;}
.fast-login-form .error input{color:#B94A48; border-color:#B94A48; box-shadow:0 1px 1px #B94A48;}

.main-promo-box{padding-bottom:50px;}
.main-promo-box h1{margin-bottom:27px; line-height:1;}
.main-promo-text p{font-size:20px; line-height:27px;}
.main-promo-text p + p{margin-top:16px;}

.main-promo-menu{margin:12px -40px; padding:40px; position:relative; background-color:#f7f7f7;}
.main-promo-menu:before, .main-promo-menu:after{content:''; background:url(../img/paper_box_bg.png) 50% 0 repeat-x; position:absolute; display:block; height:12px; width:100%; left:0; top:-12px; overflow:hidden;}
.main-promo-menu:after{background-position:50% -12px; top:auto; bottom:-12px;}

.promo-menu-item{display:table;}
.promo-menu-img-td{vertical-align:top; width:380px; display:table-cell;}
.promo-menu-img-td-small{vertical-align:top; width:200px; display:table-cell;}
.promo-menu-txt-td{vertical-align:middle; display:table-cell;}
.promo-menu-txt-td + .promo-menu-img-td{text-align:right;}
.promo-menu-txt-td + .promo-menu-img-td-small{text-align:right;}

.promo-menu-img{display:inline-block; width:330px; height:330px; background-color:#FFF; background-position:50% 50%; background-repeat:no-repeat; border:10px solid #7faf42; border-radius:50%; overflow:hidden; text-align:center; position:relative; 
                -moz-box-sizing:border-box; 
                -webkit-box-sizing:border-box; 
                box-sizing:border-box; 
}
.promo-menu-img-small{display:inline-block; width:170px; height:170px; background-color:#FFF; background-position:50% 50%; background-repeat:no-repeat; border:4px solid #7faf42; border-radius:50%; overflow:hidden; text-align:center; position:relative; 
                      -moz-box-sizing:border-box; 
                      -webkit-box-sizing:border-box; 
                      box-sizing:border-box; 
}

.promo-menu-item h2{margin-bottom:12px;}
.promo-menu-item p{font-size:18px; line-height:25px; margin-bottom:16px;}
.promo-menu-item .btn-style{padding:0 30px; z-index:1;}

.main-promo-menu > .spacer{background:url(../img/main_spacer_line.png) 0 0 repeat-x; height:1px; overflow:hidden; margin:50px -40px; clear:both;}

.main-promo-reg-txt{padding:40px 0; text-align:center;}
.main-promo-reg-txt .text{text-align:left;}
.main-promo-reg-img{float:left; margin:0 48px 0 58px; position:relative;}
.main-promo-reg-txt ul{overflow:hidden; display:block; padding-top:9px;}
.main-promo-reg-txt li{padding-left:16px; position:relative; font-size:18px; line-height:30px;}
.main-promo-reg-txt li:before{content:''; display:block; position:absolute; left:0; top:11px; width:8px; height:8px; border-radius:50%; background-color:#7faf42;}
.main-promo-reg-txt .btn-style{padding:0 30px; min-width:238px; font-size:20px; font-weight:600;}

/*dialogues*/
.catalog-list{overflow:hidden;}
.catalog-list h2{margin-bottom:20px;}
.catalog-list-row{margin-right:-30px;}

.catalog-list-item{display:inline-block; vertical-align:top; width:235px; text-decoration:none; text-align:center; margin:0 27px 30px 0;}
.catalog-list-item .task-item-name{color:#FEA431; font-size:18px;}
.catalog-list-item:hover .task-item-name{text-decoration:underline;}

/*dialogue*/
.dialogue-area{padding-top:15px;}
.dialogue-sounds{text-align:center; padding-right:40px; overflow:hidden;}
.dialogue-sounds .btn-play + .btn-play{margin-left:20px;}
.dialogue-sounds.fixed{position:fixed; top:20%; right:0; width:10px; height:50px; background-color:#fff; box-shadow:0 -1px 1px rgba(255, 255, 255, 0.3) inset; border-radius:10px 0 0 10px; border:1px solid #777; border-right:0; z-index:10;}
/*.dialogue-sounds.fixed:hover{width:auto; height:auto;}*/

.dialogue{padding:10px 0;}
.dialogue table{width:100%;}
.dialogue td{width:50%; padding:5px 15px 5px 0; font-size:16px; line-height:20px; text-align:justify;
             -moz-box-sizing:border-box; 
             -webkit-box-sizing:border-box; 
             box-sizing:border-box; 
}
.dialogue td + td{color:#8c8c8c; padding:5px 0 5px 15px;}

.dialogue + .actions-row{padding-top:30px;}

.actions-row .btn-style + .btn-style{margin-left:15px;}
.actions-row .btn-style.float-r + .btn-style{margin-left:0;}
.actions-row .btn-style.float-r + .btn-style.float-r{margin-right:15px; margin-left:0;}

/*phrases*/
.phrase-area, .bordered-area{border:1px solid #DFDAD6; border-radius:5px; background-color:#FFF0D5; padding:7px;}
.phrase-area + .phrase-area{margin-top:10px;}

.phrase-wrap, .bordered-wrap{position:relative; border:1px solid #DFDAD6; border-radius:5px; background-color:#FFF; padding:14px 19px 16px; font-size:14px;}
.phrase-area .voices{float:right; margin-left:15px; text-align:right;}
.voices .icon{width:15px; height:20px; vertical-align:top; text-transform:uppercase; cursor:pointer; position:relative; 
              -moz-user-select:none;
              -o-user-select:none;
              -webkit-user-select:none;
              user-select:none;
}
.voices .icon + .icon{margin-left:10px;}
.voices .icon:hover{background-position:0 -25px;}
.voices .icon.active{background-position:0 -50px;}
.voices .icon > span{display:block; position:absolute; bottom:0; right:-1px; height:10px; width:10px; background-color:#FFF; border-radius:50%; font-size:10px; line-height:8px; text-align:center;}

.phrase, .phrase-area .descr{line-height:20px;}
.phrase-area .phrase + .descr{margin-top:8px;}
.phrase-area label{color:#8c8c8c;}

.bordered-area.disabled{background-color:#c5c5c5; border-color:#b3b3b3;}
.disabled .bordered-wrap{border-color:#c5c5c5;}

.bordered-area.active{background-color:#fff0d5; border-color:#dfdad6;}
.active .bordered-wrap{border-color:#dfdad6;}

.bordered-area.clear{background-color:#FEBE89; border-color:#DFAE7B;}
.clear .bordered-wrap{border-color:#DFBE89;}

/*tabs*/
.tabs{display:none; text-align:justify;}
.tabs.active{display:block;}
.tab_cont{text-align:center; margin-top:5px;}
.tab_cont .active{font-weight:bold;}

/*news*/
.sharing, .news .tags{margin-top:15px;}
.news .date{font-size:12px; color:#9e9e9e; margin-bottom:17px;}
.news .image_box{text-align:center; margin-bottom:15px;}
.sound .btn-play-smal{vertical-align:middle; margin-right:5px;}
.sound:hover .btn-play-smal{vertical-align:middle; background-position:-100px -25px;}

/*tests menu*/
.diluting-item + .diluting-item{margin-top:30px;}

.diluting-item .image-area{width:170px; height:170px; float:left; margin:0 30px 0 0;}
.diluting-item .descr{line-height:20px; padding:17px 0 15px; text-align:justify;}
.diluting-item .btn-style{min-width:136px;}

/*tickets*/
.ticket-area{border:1px solid #dfdad6; background-color:#fff0d5; border-radius:5px; padding:7px;}
.ticket-content{border:1px solid #dfdad6; background-color:#fff; border-radius:5px; padding:10px 10px 42px; position:relative;}

.ticket-stop{position:absolute; left:10px; bottom:10px;}
.ticket-restart{position:absolute; right:10px; bottom:10px;}
.ticket-menu{text-align:center;}

.ticket-descr{font-size:11px; text-align:center; color:#8c8c8c; padding:8px 30px;}

.ticket-task-num{font-size:18px; text-align:center; color:#959595; margin:13px 0 0;}

.ticket-task{text-align:center; padding:6px 0;}

.ticket-task-item{display:inline-block; vertical-align:top; width:235px; margin-bottom:10px; text-decoration:none; 
                  -moz-box-sizing:border-box; 
                  -webkit-box-sizing:border-box; 
                  box-sizing:border-box; 
}
.ticket-task-item:hover, .ticket-task-item:hover *{text-decoration:none;}

.ticket-task-item + .ticket-task-item{margin-left:6px;}
.wrong .task-item-block, .correct .task-item-block, .wrong.ticket-task-item, .correct.ticket-task-item{cursor:default;}
.image-area{display:block; overflow:hidden; position:relative; width:225px; height:225px; background-color:#fff0d5; border:1px solid #dfdad6; border-radius:50%; padding:4px; margin-bottom:12px;}

.task-item-image{max-width:100%; max-height:100%; border-radius:50%; border:1px solid #dfdad6; 
                 -moz-box-sizing:border-box;
                 -webkit-box-sizing:border-box;
                 box-sizing:border-box;

                 -moz-user-select:none;
                 -o-user-select:none;
                 -webkit-user-select:none;
                 user-select:none;
}

.wrong .image-area{background-color:#ff5252; border-color:#ff1515;}
.correct .image-area{background-color:#7faf42; border-color:#649a20;}
.wrong .task-item-image{border-color:#ff1515;}
.correct .task-item-image{border-color:#649a20;}

.curtain-one, .curtain-two{position:absolute; width:100%; height:100%; background-color:#f9f2ec; left:-100%; top:0; clip:rect(auto 116px auto auto); border-radius:50%;}
.curtain-two{clip:rect(auto auto auto 116px); left:auto; right:-100%;}

.item-name-wrap{display:block; border:1px solid #dfdad6; background-color:#fff0d5; border-radius:7px; padding:0 4px; margin-bottom:15px;}

.task-item-name{color:#363636; font-size:22px; line-height:24px; font-weight:bold; display:inline-block; vertical-align:top;}
.wrong .task-item-name{color:#fc3c2f; text-decoration:line-through;}

.ticket-nav{text-align:center; padding:6px 30px 3px;}

.ticket-task .btn-play{margin:6px 0 16px;}

.ticket-sub-info{padding-top:5px; font-size:14px; font-weight:bold; text-align:center;}

/*learning*/
.learning .task-item-name{padding-right:26px; position:relative; text-decoration:none;}
.learning .task-item-name:after{content:''; width:15px; height:20px; right:0; top:3px; position:absolute;}
.learning .task-item-name:hover:after{background-position:0 -25px;}
.learning .task-item-name.active:after{background-position:0 -50px;}

/*checking memorization*/
.memorization .ticket-task{padding-top:16px;}
.wrong .item-name-wrap{background-color:#ff5252; border-color:#ff1717;}
.correct .item-name-wrap{background-color:#7faf42; border-color:#649a20;}

.checking .task-item-name, .memorization .task-item-name{display:block; border:1px solid #dfdad6; border-radius:7px; background-color:#FFF; height:58px; margin:-1px 0; line-height:56px;}
.memorization .wrong .task-item-name, .checking .wrong .task-item-name{border-color:#ff1717;}
.memorization .correct .task-item-name, .checking .correct .task-item-name{border-color:#649a20;}

/*letters*/
.letters .words-list{width:650px; margin-bottom:15px;}
.letters .capital-show{text-align:center;}
.letters .capital-show > span{display:inline-block; float:none;}
.capital-show .current:before{content:''; display:block; position:absolute; left:50%; margin-left:-9px; bottom:-16px; width:18px; height:12px; background:url(/img/sprite.png) -350px -50px no-repeat;}

/*endings*/
.endings .task-sentence .sentence-word{cursor:pointer !important;}

/*sentence*/
.task-sentence-wrap{text-align:left; margin:15px 0 25px 58px;}
.sentence-partial .task-sentence-wrap{margin:10px 0;}

.task-sentence:after{content:''; display:block; clear:both;}
.sentence-word{display:inline-block; float:left; position:relative; vertical-align:top; background-color:#fff0d5; border:1px solid #dfdad6; border-radius:7px; margin:0 5px 7px 0; padding:0 4px; cursor:pointer; 
               -moz-user-select:none;
               -o-user-select:none;
               -webkit-user-select:none;
               user-select:none;
}
.sentence-word > span{display:block; border:1px solid #dfdad6; border-radius:7px; background-color:#fff; margin:-1px 0; padding:0 10px; height:30px; font-size:16px; line-height:28px; text-align:center; min-width:19px;}

.sentence-word.drag, .sentence-word.drag > span{background-color:#ffdfa6; border-color:#ffdfa6; opacity:1 !important; cursor:move;}
.task-sentence .highlight, .sentence-word.empty-place{display:inline-block; float:left; position:relative; vertical-align:top; border:1px dashed #dfdad6; border-radius:7px; margin:0 5px 7px 0; padding:0 4px; width:60px; height:30px;}
.sentence-word.empty-place{background-color:transparent; width:auto; min-width:41px;}

.wrong .sentence-word, .wrong.sentence-word{background-color:#ff5252; border-color:#ff1717;}
.wrong .sentence-word > span, .wrong.sentence-word > span{border-color:#ff1717;}

.correct .sentence-word, .correct.sentence-word{background-color:#7faf42; border-color:#649a20;}
.correct .sentence-word > span, .correct.sentence-word > span{border-color:#649a20;}

.play .sentence-word, .play.sentence-word{background-color:#ffc872; border-color:#fea923;}
.play .sentence-word > span, .play.sentence-word > span{border-color:#fea923;}

.active .sentence-word, .active.sentence-word{background-color:#febe89; border-color:#dfae7b;}
.active .sentence-word > span, .play.sentence-word > span{border-color:#dfbe89;}

.disabled .sentence-word, .disabled.sentence-word{background-color:#c5c5c5; border-color:#b3b3b3; color:#8c8c8c; text-decoration:none !important; cursor:default;}
.disabled .sentence-word > span, .disabled.sentence-word > span{border-color:#c5c5c5;}

.buy .sentence-word, .buy.sentence-word{cursor: pointer;}
.buy .sentence-word:hover, .buy.sentence-word:hover{text-decoration: underline !important;}

.sentence-partial .task-sentence{font-size:16px; line-height:30px;}
.sentence-partial .task-sentence .sentence-word{margin:0 2px; float:none; cursor:default;}

/*	.sentence-word.sentence-part, .correct .sentence-word.sentence-part, .wrong .sentence-word.sentence-part{background-color:transparent; border-color:transparent; padding:0;}
        .sentence-word.sentence-part > span, .correct .sentence-word.sentence-part > span, .wrong .sentence-word.sentence-part > span{border-color:transparent; padding:0;}*/

.task-sentence-wrap .btn-play{display:block; position:absolute; margin:4px 0 0 -48px; width:18px; height:24px; background-position:-125px 0;}
.task-sentence-wrap .btn-play:hover{background-position:-125px -25px;}
.task-sentence-wrap .btn-play.active, .task-sentence .btn-play.active:hover{background-position:-125px -50px;}

.words-list{width:256px; margin:30px auto 0; border:1px dashed #dfdad6; border-radius:8px; padding:15px 8px 8px 15px; text-align:center; 
            -moz-box-sizing:border-box;
            -webkit-box-sizing:border-box;
            box-sizing:border-box;
}
.words-list .sentence-word{float:none;}

.help-box{position:absolute; background-color:#FFF; box-shadow:0 0 5px RGBA(0,0,0,.4); border-radius:8px; padding:10px; left:0; display:none; z-index:15;}
.help-box-arr{position:absolute; width:21px; height:14px; background-position:-350px 0; top:-14px; left:127px;}
.help-box-arr.bottom{position:absolute; background-position:-350px -25px; top:auto; bottom:-14px; left:127px;}

.help-box .tabs{font-size:18px; padding:2px 30px 15px; text-align:center;}
.help-box .tabs a{border-bottom-width:2px;}
.help-box .tabs a + a{margin-left:40px;}
.help-box .tabs .current{color:#303030; border-bottom:0 none;}

.hlp-tbl-wrap{border:1px solid #dfdad6; border-radius:8px; 
              -moz-box-sizing:border-box;
              -webkit-box-sizing:border-box;
              box-sizing:border-box;
}

.hlp-tbl{font-size:16px; table-layout:fixed; width:100%;}
.hlp-tbl .sentence-word{float:none; margin:0;}
.hlp-tbl .sentence-word > span{padding:0; min-width:40px;}
.hlp-tbl .sentence-word + .sentence-word{margin-left:10px;}
.hlp-tbl th, .hlp-tbl td{text-align:center; padding:6px 20px; vertical-align:middle; white-space:nowrap; width:40%; min-height:52px; overflow:hidden; 
                         -moz-box-sizing:border-box;
                         -webkit-box-sizing:border-box;
                         box-sizing:border-box;
}
.hlp-tbl th{border-bottom:1px solid #dfdad6; height:50px;}
.hlp-tbl tr th:first-child, .hlp-tbl tr td:first-child{border-right:1px solid #dfdad6; padding-right:20px; width:20%;}
.hlp-tbl .gray{font-size:12px; letter-spacing:-1px;}

/*alphabel*/
.task-item-letters .btn-play{vertical-align:middle; margin-right:27px;}
.task-item-letters .sentence-word{float:none; vertical-align:middle;}
.alphabet-letters{width:92.5%; margin-bottom:20px;}

.alphabel_nav_list{padding-bottom:10px; text-align:center;}
.alphabel_nav_list a{font-size:20px; text-transform:uppercase;}
.alphabel_nav_list a + a{margin-left:5px;}
.alphabel_nav_list .current, .alphabel_nav_list .current:hover{color:#7faf42; text-decoration:none;}

/*task-verbs*/
.task-verbs{width:100%; margin:10px 0 20px;}
.task-verbs th{padding-bottom:14px; color:#959595; font-size:18px;}
.task-verbs .left-col{width:50%; text-align:left;}
.task-verbs .task-sentence-col{width:auto; text-align:left;}
.task-verbs .right-col{width:50%; text-align:right;}
.task-verbs .task-sentence-wrap{margin-top:0; margin-bottom:7px;}
.task-verbs .word-place{min-height:32px; margin-bottom:7px;}
.task-verbs .sentence-word{float:none; display:inline-block; margin-bottom:0;}
.right-col .sentence-word, .left-col .sentence-word{margin-right:0;}

/*statistic*/
.statistic .ticket-stop{right:50%; left:auto; margin-right:5px;}
.statistic .ticket-restart{left:50%; right:auto; margin-left:5px; color:#FFF !important; border:1px solid #649a20; background:#72a532; box-shadow:inset 0 -1px 1px RGBA(255,255,256,.15), 0 1px 1px RGBA(0,0,0,.2);
                           background:-webkit-gradient(linear, 0 100%, 0 0, from(#7faf42), to(#649a20));
                           background:-webkit-linear-gradient(#7faf42 0%, #649a20 100%);
                           background:-moz-linear-gradient(#7faf42 0%, #649a20 100%);
                           background:-o-linear-gradient(#7faf42 0%, #649a20 100%);
                           background:linear-gradient(#7faf42 0%, #649a20 100%); 
}
.statistic .ticket-restart:hover{background-color:#679d2e; text-decoration:none;
                                 background:-webkit-gradient(linear, 0 100%, 0 0, from(#72a73a), to(#5b911e));
                                 background:-webkit-linear-gradient(#72a73a 0%, #5b911e 100%);
                                 background:-moz-linear-gradient(#72a73a 0%, #5b911e 100%);
                                 background:-o-linear-gradient(#72a73a 0%, #5b911e 100%);
                                 background:linear-gradient(#72a73a 0%, #5b911e 100%); 
}

.ticket-stat{margin:22px 0;}
.ticket-stat:after{content:''; display:block; clear:both;}
.ticket-stat .stat-half-col{width:50%; float:left; border:0 none; padding:0; margin:0; list-style:none !important; 
                            -moz-box-sizing:border-box;
                            -webkit-box-sizing:border-box;
                            box-sizing:border-box;
}
.stat-half-col li{padding:4px 20px 4px 33px; font-size:15px; line-height:17px; margin:0 !important;}
.stat-half-col .btn-play-smal{position:relative; margin-left:-23px; margin-right:11px; top:0;}
.ticket-stat .correct, .ticket-task-num .green{font-weight:bold; color:#008000;}
.ticket-stat .wrong, .ticket-task-num .red{font-weight:bold; color:#fc3c2f;}

.peach-val{height:34px; margin-right:20px; padding:0 16px 0 10px; background-color:#fff; border-radius:3px; color:#fea923; font-size:25px; font-weight:bold; line-height:34px; white-space:nowrap;}

.peach-info{height:35px; color:#fea923; font-size:25px; font-weight:bold; text-align:right;}
.bordered-area .peach-info, .learning .peach-info{position:absolute; top:8px; right:15px;}
.ticket-content .peach-info{float:right; margin:-3px 0 0 10px;}
.peach-info > .text{font-size:12px; font-weight:normal;}
.peach-info + h2, .peach-info + h3, .peach-info + .title{margin-right:105px;}

.disabled .ico-peach{background-position:-450px 0;}
.disabled .peach-info{color:#9e9e9e;}

.disabled .hc-details{top:18px; text-align:center !important;}

.peach-rec{color:#fea923; font-size:48px; font-weight:bold; padding:20px 0 25px;}

/*summaty tests*/
.summary_info{padding-top:20px;}
.summary_info table{width:100%; font-size:14px;}
.summary_info th, .summary_info td{border-bottom:1px solid #e8e8e8; border-left:1px dashed #e8e8e8; text-align:center;}
.summary_info th{vertical-align:middle; padding:8px 10px; color:#303030; font-size:18px;}
.summary_info th:first-child, .summary_info td:first-child{width:60px; max-width:83px; border-left:0 none;}
.summary_info th:first-child + th{width:140px; max-width:180px;}
.summary_info th .ico-peach{position:relative; margin-top:-17px;}
.summary_info td{padding:10px;}
.summary_info td + 
.th_brgdr{position:relative;}
.th_brgdr:before{content:''; position:absolute; top:-8px; left:-11px; width:1px; height:20px; background-color:#fff;}
.summary_info .text{padding-top:7px; line-height:16px;}
.summary_info .sentence-word{float:none; margin:0; white-space:nowrap;}
.summary_info br + .sentence-word{margin-top:7px;}
.summary_info .disabled{color:#8c8c8c;}

/*paging*/
.paging{padding:30px 0 10px; text-align:center; font-size:16px;}
.paging > *, .paging > *:hover{display:inline-block; position:relative; width:35px; height:35px; border:1px solid #d5d5d5; border-radius:8px; text-align:center; color:#5d5d5d; line-height:34px; vertical-align:top; text-decoration:none; box-shadow:0 1px 1px RGBA(0,0,0,.1), inset 0 -2px 2px RGBA(255,255,255,.9);
                               background:-webkit-gradient(linear, 0 100%, 0 0, from(#f6f6f6), to(#f0f0f0));
                               background:-webkit-linear-gradient(#f6f6f6 0%, #f0f0f0 100%);
                               background:-moz-linear-gradient(#f6f6f6 0%, #f0f0f0 100%);
                               background:-o-linear-gradient(#f6f6f6 0%, #f0f0f0 100%);
                               background:linear-gradient(#f6f6f6 0%, #f0f0f0 100%); 

                               -moz-box-sizing:border-box;
                               -webkit-box-sizing:border-box;
                               box-sizing:border-box;

                               -moz-user-select:none;
                               -o-user-select:none;
                               -webkit-user-select:none;
                               user-select:none;
}
.paging > .current, .paging > .current:hover{cursor:default;
                                             background:-webkit-gradient(linear, 0 100%, 0 0, from(#dad9d9), to(#e9e9e9));
                                             background:-webkit-linear-gradient(#dad9d9 0%, #e9e9e9 100%);
                                             background:-moz-linear-gradient(#dad9d9 0%, #e9e9e9 100%);
                                             background:-o-linear-gradient(#dad9d9 0%, #e9e9e9 100%);
                                             background:linear-gradient(#dad9d9 0%, #e9e9e9 100%);
}
.paging > .spacer, .paging > .spacer:hover{cursor:default; background:none; border-color:transparent; box-shadow:none;}
.paging > .disabled, .paging > .disabled:hover{cursor:default; opacity:.45;}
.paging .next:before, .paging .prev:before{content:''; position:absolute; top:50%; left:50%; margin:-6px 0 0 -5px; border-bottom:6px solid transparent; border-bottom:6px solid RGBA(255,255,255,0); border-top:6px solid transparent; border-top:6px solid RGBA(255,255,255,0);}
.paging .next:before{border-left:10px solid #5d5d5d;}
.paging .prev:before{border-right:10px solid #5d5d5d;}

/*add form*/
.type-switch{padding:0 0 20px;}
.type-switch:first-child{position:relative; margin-top:-20px;}
.type-switch .label{font-size:14px; line-height:20px;}
.type-switch .ch-box-inline{margin-left:45px; cursor: pointer;}

.add-new-form{padding:18px 20px; border:1px solid #cdcdcd; border-radius:12px/14px;}
.submit-row{padding-top:30px; text-align:center;}
.add-new-form .form-row + .form-row{margin-top:15px;}
.add-new-form .form-row .title{padding-bottom:10px;}

.input-box{position:relative;}
.input-box .input-text{width:100%;}

.three-in-row{float:left; width:234px; padding-left:12px;}
.three-in-row:first-child, .title + .three-in-row{padding-left:0;}
.three-in-row .input-msg-wrap{width:inherit;}


.user-photo{position:relative; width:124px; height:124px; overflow:hidden; background-color:#fff; border:1px solid #e2e2e2; border-radius:10px;
            -webkit-box-shadow:0 2px 4px rgba(188,188,188,.75);
            box-shadow:0 2px 4px rgba(188,188,188,.75);
}
.user-photo > *{border-radius:10px;}

.photo-field .user-photo{float:left; margin-right:23px;text-align: center;} 
.user-photo-upload{margin-left:150px;}
.photo-field .title{padding-top:64px; line-height:1;}

/*.ch-list{}*/
.ch-list .title{float:left; width:105px; padding:4px 0 10px;}
.ch-list-wrap{overflow:hidden;}
.ch-list .ch-box-area{float:left; width:135px; margin:0 0 20px 20px;}
.ch-list .ch-box-area label{display:inline-block; overflow:hidden; width:110px; color:#807f7f; white-space:nowrap; text-overflow:ellipsis;}

.order-banner .btn-custom-bnr{float:right; margin-left:25px;}
.bnr-place-txt{overflow:hidden; height:80px; border:1px solid #e9e9e9; color:#dcdcdc; font-size:36px; line-height:76px; text-align:center;}
.view-banner{position:relative; max-width:726px; overflow:hidden;}
.lock-banner{position:absolute; width:100%; height:100%; background-color:rgba(255,255,255,.8); color:#999; font-size:36px; line-height:76px; text-align:center; cursor:default;
             -moz-user-select:none;
             -o-user-select:none;
             -webkit-user-select:none;
             user-select:none;
}
.error-banner{color: #E45050;}
.comment {bottom: 5px;left: 50%;margin-left: -100px;position: absolute;text-align: center;width: 200px;}

/* Footer
******************************/
.footer{height:69px; width:950px; padding:40px; margin:0 10px; position:absolute; bottom:0; background-color:#303030; color:#FFF; font-size:14px; z-index:3;}
.bottom-menu{font-size:13px; margin-right:65px;}
.bottom-menu a{color:#c4c4c4;}
.socials-links{float:right;}
.socials-links > a{width:40px; height:40px; border-radius:8px; margin:10px 1px 0 0;}
.tw_link{background-position:-242px 10px; background-color:#28aae1;}
.tw_link:hover{background-color:#1d96ca;}
.fb_link{background-position:-286px 8px; background-color:#3b5b99;}
.fb_link:hover{background-color:#2e4e8b;}
.yt_link{background-position:-250px -50px;}
.yt_link:hover{opacity:0.7;}
.copy + .dev{margin-top:10px;}
.whip{display:inline-block; vertical-align:middle; position:relative; margin-left:10px;}

.overlay{top:0; width:100%; height:100%; position:absolute; display:none; background-color:rgba(255,255,255,.5); z-index:8;}

.popup-mask{display:none; position:fixed; bottom:0; left:0; top:0; width:100%; height:100%; opacity:.37; background:#000; z-index:200;}

.popup{position:absolute; padding:7px; background-color:#f9f2ec; border:1px solid #dfdad6; border-radius:5px; z-index:210; display:none;}
.popup-area{padding:20px 15px 15px; background-color:#fff; border:1px solid #dfdad6; border-radius:5px;}
.popup-card{width:420px; text-align:center;}
.popup-area > .title{font-size:24px; margin-bottom:5px;}

.advertising{margin-left:-40px; margin-top:20px; text-align:center;}

/*tfbsh*/
div.formated {font-size: 18px; font-family: Arial; text-align: justify;}
div.formated p {margin-bottom: 10px;}
div.formated ul { list-style: decimal inside none;}
div.formated2 { text-align: justify; }
div.formated2 p {margin-bottom: 10px;}
div.formated2 ul { list-style: decimal inside none;}
table.formated  {width: 100%; margin-bottom: 25px;} 
table.formated td, table.formated th {text-align: center;}
table.border td, table.border th {border: 1px solid #000;}
table.formated .brdBotOnly {border: none; border-bottom: 1px solid #000;}
table.formated .orangeBackgr {background-color: #FCC43F;}
table.formated .yellowBackgr {background-color: yellow;}
.formated .example {text-align: center; font-size: x-large;}

.centreDiv {margin-left: -15px; margin-right: 10px;}
.ttl_row{font-size: 16px; text-shadow:none; }
.ttl_rowlist{ }
.b_back{width: 9%;float: left;}
.b_back span{color:#fea431; padding-right: 3px;}
.b_edit{width: 9%; float: right; background: url(/img/b_edit.png) no-repeat 0 4px; padding-left: 13px;}
.square{border-radius: 0; width: auto; height: 176px; margin-right: 24px;}
.cont_info{font-size: 16px; color: #303030; font-family: Tahoma;}
.cont_info li{font-size: 14px; padding-bottom: 7px;}
.cont_info li span{padding-left: 26px;}
.a_icon{background: url(/img/a_icon.png) no-repeat;}
.i_icon{background: url(/img/i_icon.png) no-repeat;}
.s_icon{background: url(/img/s_icon.png) no-repeat;}
.icq_icon{background: url(/img/icq_icon.png) no-repeat;}
.cont_inf em, .choose_lang em {width: 7px; height: 7px; background-color: #fde9c4; display: inline-block; border-radius: 50%; margin-right: 4px; margin-bottom: 1px;}
.cont_inf td{padding-bottom: 6px; }
.choose_lang{margin-top: 10px;}
.select_lang{width: 177px; border-color: #d9d9d9; margin-top: 10px;}

.centreDiv .sel {font-weight: bold; text-decoration: underline;}
.banner-center {margin-bottom: 10px; display: block;}

.pop_up_log {
    background-color: #FFFFFF;
    border-radius: 8px 8px 8px 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: none;
    padding: 10px 0;
    position: absolute;
    top: 41px;
    width: 158px;
}
.pop_up_log:after {
    background: url("/img/cover.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    content: "";
}
.pop_up_log a {
    color: #303030;
    font-size: 14px;
    text-decoration: none;
}
.btn_my_prof {
    background: url("/img/my_prof.png") no-repeat scroll 10px 0 rgba(0, 0, 0, 0);
    border-bottom: 1px solid #E1E1E1;
    padding: 2px 0 5px 40px;
}
.btn_exit {
    background: url("/img/ex_icon.png") no-repeat scroll 10px 6px rgba(0, 0, 0, 0);
    padding: 7px 0 5px 40px;
}

h1.store{
    margin: 0;
    font-size: 24px;
}
.ttl_str_hdr{
    font-size: 18px;
}

.line_gray{
    display: block;
    background-color: #e8e8e8;
    width: 751px;
    height: 1px;
    float: right;
    margin-top: 12px;
}
.access_list{
    margin: 19px 0px 19px 100px ;
    font-size: 14px;
    overflow: hidden;
}
.stor_header_01{
    padding: 6px 5px;
    margin: 26px 0;
    background: url(/img/letters.png) no-repeat #efffda 100% 0;
}
.access_list li{
    background: url(/img/mark_list.png) no-repeat;
    padding-left: 22px;
    padding-top: 2px;
    padding-bottom: 8px;
}
.access_list li:last-child{
    background: none;
}
.subscription {
    font-size: 16px;
    margin-bottom: 7px;
    float: right;
    margin-top: -50px;
    margin-right: 150px;
}
.subscription .button_prc{
    margin-top: 0;
}
.subscription p{
    float: right;
    margin-top: -131px;
}
.subscription img{margin-left: 40px;}
.subscription em{
    color: #699e26;
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
}
.tab_product{
    margin: 10px 0;
}
.tab_product td{
    width: 324px;
    padding: 12px 0;
}
.logo_product{
    float: left;
    margin-right: 13px;
}
.ttl_prdc{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 14px;
}
.button_prc{
    background: url(/img/btn_green.png) no-repeat;
    width: 140px;
    height: 22px;
    text-align: center;
    padding-top: 4px;
    cursor: pointer;
}
.button_prc a{
    color: #fff;
    margin-left: -20px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}
.button_prc:hover{
    background: url(/img/btn_green_h.png) no-repeat;
}
.tab_product .button_prc{
    margin-left: 35%;
    margin-top: 21%;
}
.orn_btn{
    background: url(/img/btn_orn.png) no-repeat;
}
.orn_btn:hover{
    background: url(/img/btn_orn_h.png) no-repeat;
}
.pop_up_log{
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    width: 158px;
    padding: 10px 0;
    position: absolute;
    background-color: #fff;
    display: none;
    top: 10px;
}

.pop_up_log:after{
    content: "";
    background: url(/img/cover.png)no-repeat;
}
.pop_up_log a{
    color: #303030;
    font-size: 14px;
    text-decoration: none;
}
.btn_my_prof{
    background: url(/img/my_prof.png) no-repeat 10px 0;
    padding: 2px 0 5px 40px;
    border-bottom: 1px solid #e1e1e1;
}
.btn_exit{
    background: url(/img/ex_icon.png) no-repeat 10px 6px;
    padding: 7px 0 5px 40px;
}



.ico-book {
    width: 19px;
    height: 24px;
    position: absolute;
    left: -33px;
    top: -5px;
    background-position: 0px -200px;
}
.ico-video {
    width: 33px;
    height: 24px;
    position: absolute;
    left: -39px;
    top: -3px;
    background-position: -25px -200px;
}
.ico-subscrip {
    width: 18px;
    height: 24px;
    position: absolute;
    left: -33px;
    top: -3px;
    background-position: -75px -200px;
}
.ico-audio {
    width: 29px;
    height: 26px;
    position: absolute;
    left: -33px;
    top: -3px;
    background-position: -100px -200px;
}
.ico-close-store {
    width: 21px;
    height: 21px;
    display: block;
    cursor: pointer;
    margin: 12px 0 0 2px;
    background-position: -150px -200px;
}

.ico-close-store:hover, .ico-close-store:active {
    background-position: -176px -200px;
}
